site_name: 2023_CO
site_url: https://guahao31.github.io/2023_CO
site_author: GNG not Gua

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: 暗色模式
    - media: "(prefers-color-scheme: dark)"
      primary: teal
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: 亮色模式
  language: zh
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.sections
  icon:
    repo: fontawesome/brands/git-alt
    
plugins:
  - search
  - heti:
      disable_serve: false
repo_url: https://github.com/guahao31/2023_CO
repo_name: 2023_CO

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Home: index.md
  - Warm Up:
    - Vivado 安装: warmup/Vivado_installation.md
    - Lab0: warmup/Lab0.md
  - Lab1: 
    - Lab1/Lab1.md
    - ALU: Lab1/ALU_RegFile/ALU.md
    - RegFile: Lab1/ALU_RegFile/RegFile.md
    - FSM: Lab1/FSM/FSM.md
  - Lab2: 
    - Lab2/Lab2.md
  - Lab3:
    - Lab3/Lab3.md
    - Multiplier: Lab3/multiplier.md

  - Other:
    - Git 基础: Other/about_git.md

